/* Form */

:root{
  --col-font: #1B231A;
  --col-logo: #50684B;
  --col-green-2: #64825E;
  --col-green-3: #9AB295;
  --col-green-4: #C7D4C4;
  --col-green-5: #EAEDE8;
  --col-backbround: #F7FAF4;
  --col-red-1: #B04C35;
  --col-red-2: #CB6852;
  --col-red-3: #DFA99B;
  --col-red-4: #F5F2F0;
  --col-red-5: #F2EAE3;}
  
@font-face {
  font-family: Reislust;
  src: url(./Reislust-97D7.ttf);
  }

html{
  font-size: 30px;
  background-color: var(--col-backbround);
  color: var(--col-font);
  font-family: Reislust;
  text-align: center;
}

a{
  text-decoration: none;
  color: var(--col-green-2);
}
h1{
  font-size: 3rem;
  z-index: 92;
}

/* Grid */
.grid{
  display: grid;
  grid-template-areas: "dec1 header header dec2"
                      "empty1 main main empty2"
                      "footer footer footer footer";
  gap: 10px 10px;
  grid-template-columns: 3.5rem 1fr 1fr 3.5rem;
}

/* Plants Decoration */
.plants-decoration{
  position: -webkit-sticky;
  position: sticky;
  top: -10rem;
}

.dec1{
  grid-area: dec1;
}

.dec2{
  grid-area: dec2;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
/* Header */
header{
  grid-area: header;
}
/* Navigation */
nav{
  grid-area: nav;
  display: flex;
  justify-content: center;

}

nav a{
  margin-left: 2rem;
}

/* Heading */
.cover{
  width: 90%;
  min-width: 600px;
  position: relative;
  z-index: 93;
  margin-top: 2rem;
}

.social-media a img{
  height: auto;
  width: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5em;
  margin-bottom: 3rem;
}
.social-media a img:hover{
  background-color: var(--col-green-4);
  border-radius: 6px;
}
.social-media a img.round:hover{
  border-radius: 100%;
}

/* Main Part */
main{
  grid-area: main;
}

/* About Me */
.profile-picture{
  width: 15rem;
  height: 15rem;
  border-radius: 20rem;
  background-image: url("../images/Ich.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

}

.profile-picture:hover{
  border-radius: 5rem;
  transition-duration: 0.5s;
}

/* Challenges */
.challenges-flex{
display: flex;
flex-wrap: wrap;
align-content: space-around;
justify-content: space-around;
}

.flex-container{
height: 15rem;
width: 12rem;
margin: 0.5rem;
border-radius: 1rem;
  background-color: #64825E;
}

.flex-container-picture{
height: 50%;
background-image: url("../images/Challenges/drunk.jpg");
background-size: cover;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;

}

/* Projects */
.projects-flex{
  display: flex;
  flex-wrap: wrap;
}

.work{
  width: 33%;
}

.themes{
  width: 33%;
}
.journey{
  width:33%;
}

li{
  list-style-position: inside;
  
}
ul{
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

/* Footer */
footer{
  grid-area: footer;
  display: flex;
  justify-content: space-around;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--col-green-5);
}
.end-buddy{
    max-width: 25%;
    align-self: center;
}
.gif{
    margin: 0.1rem;
    max-width:100%;
    min-width: 33%;
    border-radius: 1rem;
}

.sources{
    width: 100%;
}

/* Contact Form */
.form-container {
  width: 20%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

form {
  width: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
form div, form label, form input, form textarea {
  width: 100%;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label, input, textarea {
  padding: 8px;
}

[placeholder] {
font-family: Reislust;
font-size: 0.7rem;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
  transition: 0.5s ease;
}

input, textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
}
input:focus, textarea:focus {
  background: white;
  box-shadow: none;
}

textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0;
}

button {
  background: var(--col-font);
  margin: 16px 0 50px 0;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
  transition: 0.5s ease;
}
button:hover {
  letter-spacing: 2px;
  box-shadow: none;
  transition: 0.5s ease;
}

