/* Form */

:root{
  --col-font: #1B231A;
  --col-logo: #50684B;
  --col-green-2: #64825E;
  --col-green-3: #9AB295;
  --col-green-4: #C7D4C4;
  --col-green-5: #EAEDE8;
  --col-backbround: #F7FAF4;
  --col-red-1: #B04C35;
  --col-red-2: #CB6852;
  --col-red-3: #DFA99B;
  --col-red-4: #F5F2F0;
  --col-red-5: #F2EAE3;}
  
@font-face {
  font-family: Reislust;
  src: url(./fonts/Reislust-97D7.ttf);
  }
@font-face {
  font-family: Montserat;
  src: url(./fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face{
  font-family: Roboto;
  src: url(./fonts/Roboto_Mono/static/RobotoMono-Medium.ttf)
}
html{
  font-size: 16px;
  background-color: var(--col-backbround);
  color: var(--col-font);
  font-family: Montserat;
  text-align: center;
}

a{
  text-decoration: none;
  color: var(--col-green-2);
}
h1{
  font-family: Reislust;
  font-size: 5rem;
  z-index: 92;
}
h2{
  font-family: Reislust;
  font-size: 4rem;
}
h3{
  font-family: Reislust;
  font-size: 3rem;
  margin: 0.4rem auto 1rem;
}
h4{
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

/* Grid */
.grid{
  display: grid;
  grid-template-areas: "dec1 header header dec2"
                      "empty1 main main empty2"
                      "footer footer footer footer";
  gap: 10px 10px;
  grid-template-columns: 6rem 1fr 1fr 6rem;
}

/* Plants Decoration */
.plants-decoration{
  position: -webkit-sticky;
  position: sticky;
  top: -10rem;
}

.dec1{
  grid-area: dec1;
}

.dec2{
  grid-area: dec2;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.pl1{
  position: absolute;
   left:3rem;
   z-index: 93;
}
.pl2{
  position: absolute;
  left:1.3rem;
  z-index: 91;
  max-height: 25rem;
}
.pl3{
  position: absolute;
  left: 0.5rem;
  z-index: 94;
  max-height: 20rem;
}
.pl4{
  position: absolute;
   right:3rem;
    z-index: 93;
}
.pl5{
  position: absolute;
  right:1rem;
  z-index: 92;
  max-height: 25rem;
}
.pl6{
  position: absolute;
  right:2rem; 
  z-index: 91; 
  max-height: 20rem;
}
/* Header */
header{
  grid-area: header;
}
/* Navigation */
nav{
  grid-area: nav;
  display: flex;
  justify-content: center;

}

nav a{
  margin-left: 4rem;
}

/* Heading */
.cover{
  width: 100%;
  position: relative;
  z-index: 93;
  margin: 2rem 0;
}

.social-media a img{
  height: auto;
  width: 3rem;
  margin-right: 3rem;
  margin-top: 0.5em;
  margin-bottom: 3rem;
}
.social-media a img:hover{
  background-color: var(--col-green-4);
  border-radius: 6px;
}
.social-media a img.round:hover{
  border-radius: 100%;
}

/* Main Part */
main{
  grid-area: main;
}

/* About Me */
.profile-picture{
  width: 28rem;
  height: 31rem;
  border-radius: 1rem;
  background-image: url("../images/Ich.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

}

/* Challenges */
.challenges-flex{
display: flex;
flex-wrap: wrap;
align-content: space-around;
justify-content: space-around;
gap: 20px 10px;
}

.flex-container{
height: 25rem;
width: 22rem;
border-radius: 1rem;
background-color: var(--col-green-5);
}

.flex-container-picture{
height: 50%;
background-image: url("../images/Challenges/drunk.jpg");
background-size: cover;
background-position: center;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;

}
.challenge-discription{
  visibility: hidden;
}
.fcp-1{
  background-image: url("../images/Challenges/no-facebook.jpg");
}
.fcp-2{
  background-image: url("../images/Challenges/meditation.jpg");
}
.fcp-3{
  background-image: url("../images/Challenges/icebath.jpg");
}
.fcp-4{
  background-image: url("../images/Challenges/skate.jpg");
}
/* Projects */
.projects-flex{
  display: flex;
  flex-wrap: wrap;
}

.work{
  width: 33%;
}

.themes{
  width: 33%;
}
.journey{
  width:33%;
}

li{
  list-style-position: inside;
  margin-bottom: 1rem;
  
}
ul{
  width: 100%;
  text-align: left;
  margin: 0 auto;
  
}

/* Footer */
footer{
  grid-area: footer;
  display: flex;
  margin: 2rem 0;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--col-green-5);
}

.end-buddy{
    max-width: 25%;
    align-self: center;
    margin: 2rem 0;
}
.gif{
    margin: 2rem 0 0;
    height: 353px;
    width: 480px;
    border-radius: 1rem;
}
.break{
  display: none;
  height: 0px;
  width: 100%;
}
/*sources*/
.sources{
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 5rem;
}
#version{
font-family: Roboto;
position: absolute;
right: 5rem;
}

/* Contact Form */
.form-container {
  padding: 0 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

form {
  width: 450px;
  height:100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
form div, form label, form input, form textarea {
  width: 100%;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label, input, textarea {
  padding: 8px;
}

[placeholder]{
font-family: Montserat;
font-size: 1rem;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
  transition: 0.5s ease;
}

input, textarea {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px #555;
}
input:focus, textarea:focus {
  background: white;
  box-shadow: none;
}

textarea {
  resize: none;
  height: 10rem;
}
textarea::-webkit-scrollbar {
  width: 0;
}

button {
  background: var(--col-font);
  margin: 16px 0 50px 0;
  padding: 8px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
  transition: 0.5s ease;
}
button:hover {
  letter-spacing: 2px;
  box-shadow: none;
  transition: 0.5s ease;
}
/* Smartphone Portrait */
@media screen and (min-width: 100px){
  html{
    font-size: 12px;
  }
  .grid{
    grid-template-areas: "header header"
                        "main main"
                        "footer footer";
    grid-template-columns:  1fr 1fr;
  }
  nav a{
    margin-left: 1.4rem;
  }
  .plants-decoration{
   display: none;
  }
  .social-media a img{
    height: auto;
    width: 2rem;
    margin-right: 3rem;
    margin-top: 0.5em;
    margin-bottom: 3rem;
  }
  .profile-picture img{
    max-width: 100%;
    height: auto;
  }
  .projects-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
  .work{
    width: 100%;
  }
  
  .themes{
    width: 100%;
  }
  .journey{
    width: 100%;
  }
  
  .gif{
    display: none;
  }
  .end-buddy{
    min-width: 100%;
  }
  form {
    width: 100%;
  }
  .sources{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8rem;
    row-gap: 0;
}
#designed-by{
  width: 100%;
}
#version{
font-family: Roboto;
position:static;
}
}
/* Smartphone Landscape */
@media screen and (min-width: 480px) {
  .grid{
    grid-template-areas:  "dec1 header header dec2"
                          "empty1 main main empty2"
                          "footer footer footer footer";
    grid-template-columns: 6rem 1fr 1fr 6rem;
                        }
  .plants-decoration{
    display: initial;
  }
  .gif{
    display: initial;
  }
  ul{
    margin-right: 20%;
  }
  .form-container{
    width: 80%;
  }
}

/* Tablet Portrait */
@media screen and (min-width: 768px) {
  html{
    font-size: 14px;
  }
}
/* Tablet Landscape */
@media screen and (min-width: 992px) {
  .social-media a img{
    height: auto;
    width: 3rem;
    margin-right: 3rem;
    margin-top: 0.5em;
    margin-bottom: 3rem;
  }
  .work{
    width: 45%;
  }
  
  .themes{
    width: 45%;
  }
  .journey{
    width: 45%;
  }
  .gif{
  }
  .break{
    display: initial;
  }
  .end-buddy{
    min-width: 33%;
  }
  .form-container{
    width: 50%;
    margin-top: 6rem;
  }
  .sources{
    
    justify-content: space-around;
    
}
}

/* Desktop */
@media screen and (min-width: 1299.5px) {
  html{
    font-size: 16px;
  }
  .work{
    width: 33%;
  }
  
  .themes{
    width: 33%;
  }
  .journey{
    width:33%;
  }
  .end-buddy{
    display: inline-block;
    min-width: 22%;
  }
  .break{
    display: none;
  }

  .gif{
      margin: 2rem 0 0;
      height: 353px;
      width: 480px;
      border-radius: 1rem;
  }
  .form-container {
    width: 33%;
  }
  nav a{
    margin-left: 4rem;
  }
}
