html{
    font-size: 30px;
    background-color: var(--col-backbround);
    color: var(--col-font);
    font-family: Reislust;
    text-align: center;
}

h1{
  
    font-size: 3rem;
    z-index: 92;
    
}


.cover{
    width: 90%;
    min-width: 600px;
    position: relative;
    z-index: 93;
    margin-top: 2rem;
    

}
:root{
    --col-font: #1B231A;
    --col-logo: #50684B;
    --col-green-2: #64825E;
    --col-green-3: #9AB295;
    --col-green-4: #C7D4C4;
    --col-green-5: #EAEDE8;
    --col-backbround: #F7FAF4;
    --col-red-1: #B04C35;
    --col-red-2: #CB6852;
    --col-red-3: #DFA99B;
    --col-red-4: #F5F2F0;
    --col-red-5: #F2EAE3;}
   
@font-face {
    font-family: Reislust;
    src: url(./Reislust-97D7.ttf);
    }

.plants-decoration{
    position: -webkit-sticky;
    position: sticky;
    top: -10rem;
}
.dec1{
    grid-area: dec1;
}
.dec2{
    grid-area: dec2;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.grid{
    display: grid;
    grid-template-areas: "dec1 header header dec2"
                        "empty1 main main empty2"
                        "footer footer footer footer";
    gap: 10px 10px;
    grid-template-columns: 3.5rem 1fr 1fr 3.5rem;
}

header{
    grid-area: header;
    
}

nav{
    grid-area: nav;
    display: flex;
    justify-content: center;

}

nav a{
    margin-left: 2rem;
}

main{
    grid-area: main;
}

a{
    text-decoration: none;
    color: var(--col-green-2);
}

.social-media a img{
    height: auto;
    width: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5em;
    margin-bottom: 3rem;
}
.social-media a img:hover{
    background-color: var(--col-green-4);
    border-radius: 6px;
}
.social-media a img.round:hover{
    border-radius: 100%;
}
footer{
    grid-area: footer;
}

.profile-picture{
    width: 15rem;
    height: 15rem;
    border-radius: 20rem;
    background-image: url("../images/Ich.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

}

.profile-picture:hover{
    border-radius: 5rem;
    transition-duration: 0.5s;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slide-img{
    max-width: 100%;
    max-height: 600px;
}

/* Projects */
.projects-flex{
    display: flex;
    flex-wrap: wrap;
}

.work{
    width: 33%;
}

.themes{
    width: 33%;
}
.journey{
    width:33%;
}

li{
    list-style-position: inside;
    
}
ul{
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

form{
    width: 50%;
}
.end-buddy{
    width: 50%;
    border-radius: 5%;
}
.gif{
    width: 100%;
}
.sources{
    width: 100%;
}

input, textarea{
    width: 70%;
    float: right;
}
.submit-button{
    width: 15%;
    margin: 1% 27.5%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #fff;
  text-shadow: var(--col-green-3) 2px 2px;
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}