* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slide-img{
    max-width: 100%;
    max-height: 600px;
}
